.weather{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
button{
    width: 50%;
    margin-top: 10px;
    background-color: yellow;
    color:black;
}